/* color palette from <https://github.com/vuejs/theme> */
:root {
    --background-color: #1e2029;
    --dark-bg-text-color: #e3e3e3;
    --dark-text-color: #3e4255;
    --title-color: #9a6aff;
    --link-color: #9a6aff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    background-color: var(--background-color);
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}
